body,html{font-size:50px; background: yellow; color: #fff;}
.box{width: 500px; height: 300px; border:2px dashed #fff; background-image:url(../imgs/1.jpg);}
/*div{font-size:50px; width: 600px; height: 299px; background-image:url(../../images/1.jpg);}*/